.detailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url("./images/PerroBonito.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 100px;
    border-radius: 10px;
    margin: 20px; /* Ajusta el margen en lugar de un margen grande para pantallas más pequeñas */
}

.container{
    background-color: #435334;
    opacity: 80%;
    border-radius: 10px;
    padding: 20px; /* Añade un espacio interno para el contenido */
    margin: 10px; /* Ajusta el margen en lugar de un margen grande para pantallas más pequeñas */
}

.homeButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 15px;
}

.homeButton:hover {
    color: #435334;
    background-color: #FAF1E4;
    transform: scale(1.1); /* Escala ligeramente en lugar de una transformación drástica */
    font-family: 'Bebas Neue', sans-serif;
}

.dogDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #FAF1E4;
    padding: 15px;
}

.dogImage {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.dogInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #CEDEBD;
}

.temperaments {
    margin-top: 10px;
}

.loading {
    margin-top: 20px;
}


/* Media query para ajustar estilos en pantallas más pequeñas */
@media (max-width: 768px) {
    .detailContainer {
        margin: 10px;
    }
    
    .container {
        margin: 10px;
    }
    
    .homeButton {
        padding: 8px 16px;
        margin-top: 10px;
    }
    
    .dogDetails {
        padding: 10px;
    }
    
    .dogImage {
        margin-bottom: 10px;
    }
}