body {
  margin: 0;
  margin-bottom: 67px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #9EB384; */
  background: #ff6969;
  background: linear-gradient(0deg, rgb(199, 0, 57) 20%, rgba(255, 105, 105) 45%, #FF8080 68%, #FFF5E0 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
