.background {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; 
}

.Header {
    background-color: #141E46;
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.Cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Bebas Neue', sans-serif;
}

.Card {
    margin: 15px;
    border: 1px solid #C70039;
    padding: 20px; 
    width: 320px;
    height: 450px;
    background-image: url("https://i.pinimg.com/originals/8f/46/99/8f4699f8894d76a58cdbf298fce510f4.jpg");
    border-radius: 28px;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Bebas Neue', sans-serif;
    color: #141E46;
}

h2 {
    background-color: #FF6969;
    border-radius: 5px;
}


.filtross {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin: 10px;
}


.filtross1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.filtrossOrden {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin: 10px;
}

.botonesXd {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin: 10px;
}

.button {
    background-color: #FF6969;
    color: #141E46;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 25px;
    margin-right: 25px;
}

.button:hover{
    background-color:  #FAF1E4;
    color: #141E46;
    transform: scale(1.1); 
    font-family: 'Bebas Neue', sans-serif;
    }

.buttonBack {
    background-color: #FF6969;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 35px;
    margin-right: 35px;
    color: #141E46;
}

.buttonBack:hover{
    background-color:  #C70039;
    color: #141E46;
    transform: scale(1.1); 
    font-family: 'Bebas Neue', sans-serif;
    }

.contButton {
    margin: 10px 0px 10px 0px;
}

.select {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #141E46;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    height: 30px;
    text-align: center;
}

.option {
    margin-left: 10px;
    font-size: 14px;
    color: #C70039;
}

.orden {
    color: #C70039;
    font-family: 'Bebas Neue', sans-serif;
}


/* ----------------MEDIA QUERIES---------------------- */


@media (max-width: 768px) {
    .Card {
        max-width: calc(50% - 40px); /* Ajustar el tamaño de las tarjetas para dispositivos más pequeños */
    }

    .filtrossOrden{
        display: flex;
        flex-direction: row;
    }

    .contButton { 
        padding: 10px;
        width: 80px;
        height: 60px;
        position: relative;
        margin: -90px 0px 10px 0px;
        }

    .filtross1 {
            display: flex;
            justify-content: center;
            flex-wrap: wrap; /* Cambiar a flex-wrap para que los botones se ajusten automáticamente en dispositivos más pequeños */
            margin: 10px;
        }

        .botonesXd {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap; /* Cambiar a flex-wrap para que los botones se ajusten automáticamente en dispositivos más pequeños */
            margin: 10px;
        }
}


@media (max-width: 414px) {
    .Card {
        max-width: calc(50% - 40px); /* Ajustar el tamaño de las tarjetas para dispositivos más pequeños */
    }

    .filtrossOrden{
        display: flex;
        flex-direction: row;
    }

    .contButton { 
    padding: 10px;
    width: 80px;
    height: 60px;
    position: relative;
    margin: -200px 0px 10px 0px;
    }

    .filtross1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; /* Cambiar a flex-wrap para que los botones se ajusten automáticamente en dispositivos más pequeños */
        margin: 10px;
    }

    .botonesXd {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; /* Cambiar a flex-wrap para que los botones se ajusten automáticamente en dispositivos más pequeños */
        margin: 10px;
    }
}

















