.background {
    background-color: #141E46;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Agregar un relleno para mejorar la apariencia en dispositivos más grandes */
    height: auto; /* Cambiar a altura automática para que se ajuste según el contenido */
}

.div {
    margin: 10px; /* Combinar margen izquierdo y derecho en una sola declaración */
}


.input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px; /* Simplificar la propiedad de borde */
    outline: none;
    width: 100%; /* Hacer que el ancho sea del 100% para dispositivos más pequeños */
}

.form {
    display: flex;
    align-items: center;
    width: 100%; /* Hacer que el formulario ocupe todo el ancho disponible */
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px; /* Simplificar la propiedad de borde */
    background-color: #C70039;
    color: #FFF5E0;
    cursor: pointer;
    width: auto; /* Cambiar a ancho automático para ajustarse al contenido */
}


.button:hover {
    background-color: #FF6969;
} 