.container {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap; /* Permite que los elementos se ajusten automáticamente en dispositivos más pequeños */
}


.point {
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 35px;
    width: 5vh;
    height: 5vh;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}

.point:hover{
    transform: scale(1.5); /* Escala ligeramente en lugar de una transformación drástica */
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
}

.button {
    list-style: none;
    border-radius: 5px;
    background-color: #FFF5E0;
    color: #141E46;
    width: 40px;
    height: 30px;
    text-align: center; /* Centra el texto horizontalmente en el botón */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente en el botón */
    justify-content: center;
    margin: 5px;
}

